<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/CursoLogicacapitulo04/src/ExercicioCapitulo4/Exercicio02DescontoDeFreteEmComprasAcimaDe100.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ExercicioCapitulo4.Exercicio02DescontoDeFreteEmComprasAcimaDe100"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="CursoLogicacapitulo04"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CursoLogicacapitulo04"/>
</launchConfiguration>
